body {
    margin: 0rem;
    padding: 0rem;
    background-color: #dfe6e9;
}

#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-principal {
    height: 40rem;
    width: 90rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 15px gray;
    padding: 1rem 1rem;
}